/*************************************************************************************
*  FOOTER
*
*
*
**************************************************************************************/

footer {
  margin: 0;
  margin-top: 1.5rem;
  left: 0;
  right: 0;
  display: inline-block;
  background: $header-background;
  border-top: $bdr-cl;
  border-right: $bdr-cr;
  border-left: $bdr-ct;
  align-items: center;
  font-family: $ff-title;
  clear: both;
  width: 100%;
  color: $primary;
  text-shadow: 0.2rem 0.2rem $light;

  @include for-size(desktop) {
    font-size: 2rem !important;
  }

  @include for-size(tablet-landscape) {
    font-size: 2rem;
    width: 100%;
  }

  @include for-size(phone-only) {
    font-size: 1rem !important;
  }
}

.footer-title {
  background: $white;
  width: 40%;
  margin: 0;
  margin-left: 30%;
  text-align: center;
  font-size: 2rem !important;
  padding: 0;
  font-family: $ff-title;
}
