/*********************************************************************
 *  MODAL
 *
 *******************************************************************/

.modal {
  background: $header-background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  height: 100%;
  padding: 1rem;
}

.modal-header {
  min-width: 100%;
}
.modal-body {
  margin: 5%;
}
.modal-footer {
  margin: 25%;
}
.container {
  width: 100% !important;
}
.header {
  background: $white;
  padding: 1rem !important;
  margin-bottom: 3rem !important;
}
.content {
  display: inline-block;
  margin-top: 1rem;
}
.modal-header {
  min-width: 100%;
  border-bottom: $light 0.5rem solid;
  margin-bottom: 0.5rem;
  font-size: $fz-h2;
  text-align: center;
  font-family: $ff-sub;
  color: $primary;
  display: flex;
  padding: 1rem;
  .modal-title {
    font-family: $ff-title;
    text-shadow: 0.25rem 0.25rem $light;
    font-size: 3rem;
    width: 90%;
  }
  .close {
    float: right;
    margin: 0;
    font-family: $ff-title;
    text-shadow: 0.25rem 0.25rem $light;
    @extend %btn-1;
    color: $white;
    border: $light solid 0.5rem;
    background: $gradient0;
    font-family: $ff-title;
    font-size: 1.5rem;
  }
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  font-size: 2rem;
  background: $light;
  color: $primary;
  border-radius: 18px;
  font-weight: 900;
  border: 1px solid $white;
}

.modal-list {
  width: 28%;
  float: left;
  list-style: inside;
  position: relative;
  background: $white;
  border: 0.3rem solid $light;
  .modal-list-heading {
    color: $primary;
    text-shadow: 0.125rem 0.125rem $light;
    text-align: center;
    font-family: $ff-sub;
    font-size: $fz-h4;
    border-bottom: $light solid 0.15rem;
    margin-bottom: 0;
  }
  .modal-list-item {
    color: $light;
    list-style: inside;
    font-family: $ff-title;
    font-weight: 900;
    font-size: 1rem;
  }
}

.actions {
  background: $white;
  border-radius: 10px;
  color: $light;
  font-family: $ff-body;
  font-weight: 900;
  button {
    @extend %btn-1;
  }
}

.modal-button {
}
