/*************************************************************************************
*  About Page
*
*
*
**************************************************************************************/
#about {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;

  .row {
    display: flex;
    margin-left: 8%;
    @include for-size(desktop) {
      padding: 0;
    }

    @include for-size(tablet-landscape) {
      display: block;
      overflow: hidden;
      margin-left: 7%;
      padding: 0;
      font-size: 2rem;
    }

    @include for-size(phone-only) {
    }

    .card {
      height: 28rem;
      width: 28%;
      margin: 1rem;
      box-shadow: 0.25rem 0.25rem 2rem -1rem rgba(0, 0, 0, 0.05);

      @include for-size(desktop) {
        width: 26%;
        margin: 1rem;
        padding: 0;
      }

      @include for-size(tablet-landscape) {
        display: block;
        overflow: hidden;
        min-width: 90%;
        margin: 1rem;
        padding: 0;
      }

      @include for-size(phone-only) {
        width: 100%;
      }

      @include animate(flipInX, 2s, 70);

      .card-title {
        text-shadow: 0.25rem 0.25rem $light;
      }

      .socialIcons {
        button {
          @extend %btn-1;
          padding: 0;
          margin-top: 0;
        }
      }
      text-shadow: 0.125rem 0.125rem $white;

      &:hover {
        background: $background3;
        background-size: cover;
        box-shadow: 0 0 1rem -0.25rem var(--background);
        text-shadow: 0.125rem 0.125rem $white;

        .card-title {
          text-shadow: 0.125rem 0.125rem $white;
        }
        .card-text {
          color: $primary;
          text-shadow: 0.125rem 0.125rem $white;
        }

        .shoutout {
          text-shadow: 0.125rem 0.125rem $white;
        }
      }
    }
  }
  .shoutout {
    font-family: $ff-title;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem $light;
  }
  .card-text {
    font-size: 1.25rem;
    color: $light;
  }
  .social-button {
    margin: 0.75rem;
    border-radius: 25px;
    padding: 0;
    width: 100%;
    background: $white;
    @include for-size(tablet-landscape) {
      margin: 4rem;
    }
    @include for-size(tablet-portrait) {
    }
    @include for-size(phone-only) {
      display: none;
    }

    button {
      padding: 1rem;
      background: $gradient0;
      color: $white;
      background: $white;

      &:hover {
        color: $white;
      }
    }

    #linkedin {
      color: $white;
      &:hover {
        color: $linkedin;
        background: $header-background;
      }
    }

    #instagram {
      color: $white;

      &:hover {
        color: $instagram;
        background: $header-background;
      }
    }

    #twitter {
      color: $white;
      &:hover {
        color: $tw !important;
        background: $header-background;
      }
    }

    #dribbble {
      color: $white;
      &:hover {
        color: $dribbble !important;
        background: $header-background;
      }
    }

    #github {
      color: $white;
      &:hover {
        color: $github !important;
        background: $header-background;
      }
    }

    #gitlab {
      color: $white;
      &:hover {
        color: $gitlab !important;
        background: $header-background;
      }
    }
  }
}

.image-card {
  background: $header-background !important;
  height: 30rem;
  overflow: hidden;
  @include for-size(tablet-landscape) {
    display: flex;
  }
  @include for-size(tablet-portrait) {
  }
  @include for-size(phone-only) {
    display: none;
  }
  img {
    height: 25rem;
    width: 99%;
    margin: 0.125%;
  }
  &:hover {
    background: $background3 !important;
    color: $primary;
    box-shadow: 0 0 1rem -0.25rem var(--background);
  }
}

.more-card {
  padding: 1rem;
  .card-header {
    background: $white;
  }
}

.about-card {
  padding: 1rem;
  &:hover {
    h4,
    p {
      text-shadow: 0.125rem 0.125rem $white !important;
    }
  }
  .card-header {
    background: $white;
  }
  .shoutout {
    font-size: 1.5rem;
    background: $white;
    color: $primary;
    font-weight: 900;
    &:hover {
      background: $light;
      color: $primary;
      box-shadow: 0 0 1rem -0.25rem var(--background);
      text-shadow: 0.125rem 0.125rem $white;
    }
  }
}

#modal-card {
  align-content: center;
  align-items: center;

  button {
    min-width: 10rem;
  }

  .card-header {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;

    hr {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
.modal-box {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  button {
    margin-right: 1rem;
    @extend %btn-1;
  }
}
.resume-card {
  color: $light;
  font-family: $ff-sub;
  font-size: 1.5rem;
  text-align: center;
  &:hover {
    color: $primary;
  }
  a {
    button {
      width: 30%;
      margin-right: 20%;
    }
  }
}
.resume-card {
  a {
    margin-left: 20%;
    button {
      padding: 1rem;
      margin-top: 2rem;
    }
  }
}

.hr-blue {
  border-bottom: $primary solid 0.5rem !important;
}

.Email-card {
  button {
    margin-left: 3%;
    margin-top: 1rem;
    padding: 1rem;
    @include for-size(desktop) {
    }

    @include for-size(tablet-landscape) {
      overflow: hidden;
      margin-left: 7%;
      padding: 3rem;
      font-size: 2rem;
      width: 24%;
    }

    @include for-size(phone-only) {
    }

    a {
      color: $white;
      text-decoration: none;
      font-size: 1rem;
      font-family: $ff-title;
    }
  }
}
.phone-card {
  button {
    @extend %btn-1;
    width: 40%;
    margin-left: 28%;
    padding: 2rem;

    a {
      color: $white;
      font-family: $ff-title;
      text-decoration: none;
    }
  }
}
