/*************************************************************************************
*  HOME PAGE
*
*
*
**************************************************************************************/

#home {
  margin-left: 10%;
  background-image: url('https://raw.githubusercontent.com/Thomashighbaugh/resurgens-iv/master/dogpatchcircuit.png');
  background-size: cover;
  position: center;
  width: 79%;
  height: 76vh;

  position: center;
  justify-self: center;
  background-attachment: fixed;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  overflow: hidden;
  margin-top: 0;
  hr {
    border-bottom: 1rem solid $light;
    width: 30%;
    @include animate(pulse, 2s, 20, 1);
    margin-bottom: 4rem;
    margin-top: 2rem;
    margin-left: 35%;
  }

  .hr-blue {
    border-bottom: $primary 1rem solid !important;
  }

  .card-title {
    @include animate(bounceInDown, 2s, 20, 1);
    background: $white;
    font-size: $fz-h1;
    margin-bottom: 0;
    text-shadow: 0.25rem 0.25rem $light;
    width: auto;
    position: relative;
    text-align: center;
    border-radius: 10px;
    color: $primary;
    font-family: $ff-title;
    border: $bdr-button;

    @include for-size(tablet-landscape) {
      font-size: 6rem;
      width: 80%;
      margin-left: 10%;
    }
    @include for-size(tablet-portrait) {
      font-size: 4rem;
      margin: 0;
    }
    @include for-size(phone-only) {
      font-size: 2.7rem;
      width: 100%;
      margin: 0;
    }
  }

  .card-subtitle {
    @include animate(slideInUp, 1s, 20, 1);
    background: $white;
    font-size: $fz-h2;
    text-shadow: 0.25rem 0.25rem $light;

    float: right;
    position: relative;
    border-radius: 10px;
    width: auto;
    color: $primary;
    border: $bdr-button;
    font-family: $ff-sub;
    @include for-size(tablet-landscape) {
      font-size: 55%;
      width: 80%;
      margin-left: 10%;
    }
    @include for-size(tablet-portrait) {
      font-size: 50%;
    }
    @include for-size(phone-only) {
      display: none;
    }
  }
}

.space {
  width: 20%;
  float: left;
  background: transparent !important;

  @include for-size(big-desktop) {
    width: 15%;
  }

  @include for-size(desktop) {
    width: 10%;
  }

  @include for-size(tablet-landscape) {
    width: 5%;
  }

  @include for-size(phone-only) {
    display: none;
  }
}
