/*************************************************************************************
*  PROJECT PAGE
*
*
*
**************************************************************************************/

#projects {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  @include animate(fadeIn, 1s, 100);
  &:hover {
    background: $header-background !important;
  }

  hr {
    border-bottom: 0.5rem solid $primary;
    color: $primary;
    border-top: none;
    @include animate(fadeIn, 5s, 100);
    display: block;
    &:hover {
      border-bottom: 0.5rem $primary solid;
    }
  }

  .projects-intro {
    width: 29%;
    display: block;
    padding: 1rem;
    @include animate(fadeIn, 5s, 100);

    p {
      font-family: $ff-sub;
      font-weight: 900;
      color: $light;
      margin-left: 5%;
      margin-right: 5%;
    }

    .blurb {
      margin-top: 7.5rem;
      border: $light 0.5rem solid;
      outline: none;
      padding: 2rem;
      background: $white;
      border-radius: 10px;

      hr {
        width: 85%;
        margin-left: 6%;
      }

      .blurb-title {
        color: $primary;
        font-size: 3rem;
        font-weight: 900;
        padding: 1rem;
        text-align: center;
        font-family: $ff-title;
        text-shadow: 0.25rem 0.25rem $light;
      }

      #sub {
        font-size: 2.5rem;
      }

      &:hover {
        border: $primary solid 0.5rem;
        background: $light;
        color: $white;
        .blurb-title {
          text-shadow: 0.18rem 0.18rem $white;
        }
        p {
          background: $light;
          color: $white;
        }
      }
    }
  }

  .post {
    width: 100%;
    float: right;
    display: block;
    text-align: right;
    padding: 1rem;
    border-radius: 10px;
    background: $white;
    border: $light 0.5rem solid;
    hr {
      width: 85%;
      margin-left: 15%;
      margin-bottom: 0.25rem;
    }
    &:hover {
      background: $light;
      color: $white;
      border: $primary solid 0.5rem;
      .link-heading {
        text-shadow: 0.18rem 0.18rem $white;
      }
      p {
        color: $white;
      }
      small {
        color: $white;
      }
    }

    .link-heading {
      font-size: 2rem;
      font-family: $ff-title;
      color: $primary;
      text-decoration: none;
      width: 100%;
      text-shadow: 0.25rem 0.25rem $light;
    }

    small {
      text-align: right;
      font-family: $ff-mono;
      font-size: 0.9rem;
      font-weight: 900;
      color: $light;
      margin-top: 0;
    }

    p {
      font-family: $ff-sub;
      color: $light;
      font-weight: 900;
      margin-left: 15%;
      text-align: left;
    }
  }
}
